@page "/admins"
@using DoorsWeb.Shared.Models
@inject IHttpClientFactory ClientFactory


<Table Item="Admin" Items="adminList" PageSize="10"  AddItemFactory="AddItem"
       OnItemAdded="OnItemAdd" OnItemEdited="OnItemEdit" OnItemDeleted="OnItemDelete"
        Hover Responsive EditMode=TableEditMode.Inline >
    <HeaderTemplate>
        
    </HeaderTemplate>

    <ChildContent>
        @if (!IsLoaded)
        {
            <Progress Color="TablerColor.Blue" Indeterminate />
        }
        <Column Item="Admin" Property="e => e.Id" Title="Admin Id" Width="50px" Sortable Visible="false">
            <EditorTemplate>
                @(context.Id == Guid.Empty ? context.Id : "")
                <InputNumber class="form-control" @bind-value="@context.Id" Hidden />
            </EditorTemplate>
        </Column>
        <Column Item="Admin" Property="e => e.Username" Title="Username" Searchable Sortable>
            <EditorTemplate>
                <InputText  class="form-control" @bind-value="@context.Username" DisplayName="username" />
            </EditorTemplate>
        </Column>
        <Column Item="Admin" Property="e => e.PasswordHash" Title="Pass" >
            <Template>
                ●●●●●●●●
            </Template>
            <EditorTemplate>
                <Input type="password" class="form-control" @bind-value="@context.PasswordHash" DisplayName="password" />
            </EditorTemplate>
        </Column>
        <Column Item="Admin" Property="e => e.CanEditAdmins" Title="Admins" Width="50px" Sortable>
            <Template>
                @if (context.CanEditAdmins)
                {
                    <Icon class="icon" IconType="@TablerIcons.Check" />                    
                }
                else
                {
                    <Icon class="icon" IconType="@TablerIcons.X" />                    
                }
            </Template>
            <EditorTemplate>
                <Checkbox @bind-value="@context.CanEditAdmins" />
            </EditorTemplate>
        </Column>
        <Column Item="Admin" Property="e => e.CanEditDoors" Title="Doors" Width="50px" Sortable>
            <Template>
                @if (context.CanEditDoors)
                {
                    <Icon class="icon" IconType="@TablerIcons.Check" />
                }
                else
                {
                    <Icon class="icon" IconType="@TablerIcons.X" />
                }
            </Template>
            <EditorTemplate>
                <Checkbox @bind-value="@context.CanEditDoors" />
            </EditorTemplate>
        </Column>
        <Column Item="Admin" Property="e => e.CanEditUsers" Title="Users" Width="50px" Sortable>
            <Template>
                @if (context.CanEditUsers)
                {
                    <Icon class="icon" IconType="@TablerIcons.Check" />
                }
                else
                {
                    <Icon class="icon" IconType="@TablerIcons.X" />
                }
            </Template>
            <EditorTemplate>
                <Checkbox @bind-value="@context.CanEditUsers" />
            </EditorTemplate>
        </Column>
        <Column Item="Admin" Property="e => e.LastUpdatedAt" Title="Last Updated" Sortable>
            <EditorTemplate>
                @(context.LastUpdatedAt != default ? context.LastUpdatedAt : "") 
            </EditorTemplate>
        </Column>
    </ChildContent>
</Table>



@code {
    [Inject] TabBlazor.Services.TablerService TablerService { get; set; } = null!;
    [Inject] TabBlazor.Services.IModalService ModalService { get; set; } = null!;

    private bool IsLoaded = false;
    private HttpClient client = new HttpClient();
    private List<Admin> adminList = new List<Admin>();

    protected override async Task OnInitializedAsync()
    {
        client = ClientFactory.CreateClient("WebAPI");
        adminList = await client.GetFromJsonAsync<List<Admin>>("api/Admin") ?? [];
        IsLoaded = true;
    }

    private Task<Admin> AddItem()
    {
        // this function feeds default value
        return Task.FromResult(new Admin { Id = Guid.Empty, Username = "user", PasswordHash = "pass", CanEditAdmins = false, CanEditDoors = false, CanEditUsers = false });
    }

    private async Task OnItemAdd(Admin admin)
    {
        var result = await client.PostAsJsonAsync<Admin>("api/Admin/", admin);
        if (result.IsSuccessStatusCode) await UpdateList();
        else {
            adminList.Remove(admin);
            await ShowErrorDialog(result);
        }
    }

    private async Task OnItemEdit(Admin admin)
    {
        var result = await client.PutAsJsonAsync<Admin>("api/Admin/" + admin.Id, admin);
        if (!result.IsSuccessStatusCode) await ShowErrorDialog(result);
    }

    private async Task OnItemDelete(Admin admin)
    {
        adminList = await client.DeleteFromJsonAsync<List<Admin>>("api/Admin/" + admin.Id) ?? [];
    }

    private async Task UpdateList()
    {
        adminList = await client.GetFromJsonAsync<List<Admin>>("api/Admin") ?? [];
    }

    private async Task ShowErrorDialog(HttpResponseMessage result)
    {
        ClientProblemDetails errjson;
        try
        {
            errjson = await result.Content.ReadFromJsonAsync<ClientProblemDetails>() ??
                new ClientProblemDetails { Status = 500, Title = "Error Returned Null!", Detail = "An unexpected error occurred." };
        }
        catch
        {
            errjson = new ClientProblemDetails { Status = 500, Title = "Unable to Read Error!", Detail = "Failed to read error response." };
        }
        if (errjson.Status == 500) errjson.Detail = "traceId: " + errjson.TraceId;
        await ModalService.ShowDialogAsync(new TabBlazor.Components.Modals.DialogOptions
        {
            MainText = errjson.Status + " " + errjson.Title,
            SubText = errjson.Detail,
            IconType = TablerIcons.Alert_triangle,
            CancelText = "",
            StatusColor = TablerColor.Danger
        });
    }
}
