<TablerForm Model="@dDetail" OnValidSubmit="Submit" >
    <Tabs>
        @* ============================= GENERAL ============================= *@
        <Tab Title="General">
            <Card Size="CardSize.Default">
                <CardBody>
                    <CardTitle>Controller</CardTitle>
                    <div class="mb-3">
                        <label class="form-label">Door Name</label>
                        <InputText class="form-control" @bind-Value="dDetail.Name"></InputText>
                        <TabValidationMessage For="(() => dDetail.Name)"></TabValidationMessage>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Controller Address</label>
                        <InputNumber class="form-control" @bind-Value="dDetail.ControllerId"></InputNumber>
                        <TabValidationMessage For="(() => dDetail.ControllerId)"></TabValidationMessage>
                    </div>
                </CardBody>
            </Card>

            <div class="row">
                <div class="col-lg-7">
                    <Card Size="CardSize.Default">
                        <CardBody>
                            <div class="mb-3">
                                <label class="form-label">IP Address</label>
                                <InputText class="form-control" @bind-Value="dDetail.IPAddressString"></InputText>
                                <TabValidationMessage For="(() => dDetail.IPAddressString)"></TabValidationMessage>
                            </div>
                        </CardBody>
                    </Card>
                </div>
                <div class="col-lg-5">
                    <Card Size="CardSize.Default">
                        <CardBody>
                            <div class="mb-3">
                                <label class="form-label">Random Search Frequency</label>
                                <InputNumber class="form-control" @bind-Value="dDetail.RandomSearchFrequency"></InputNumber>
                            </div>
                        </CardBody>
                    </Card>
                </div>
            </div>

            <Card Size="CardSize.Default">
                <CardBody>
                    <CardTitle>Sound</CardTitle>
                    <div class="mb-3 row">
                        <div class="col-lg-6">
                            <label class="form-label">Feedback</label>
                            <span class="d-flex my-auto gap-2">
                                <Icon IconType="@TablerIcons.Volume" />
                                <RangeSlider TValue="byte" @bind-Value="dDetail.Controller_FeedbackVolume" Min="0" Max="15" />
                                <label class="form-label">@dDetail.Controller_FeedbackVolume</label>
                            </span>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Alarm</label>
                            <span class="d-flex my-auto gap-2">
                                <Icon IconType="@TablerIcons.Volume" />
                                <RangeSlider TValue="byte" @bind-Value="dDetail.Controller_AlarmVolume" Min="0" Max="15" />
                                <label class="form-label">@dDetail.Controller_AlarmVolume</label>
                            </span>
                        </div>
                    </div>
                </CardBody>
            </Card>

            <Card Size="CardSize.Default">
                <CardBody>
                    <CardTitle>Notes</CardTitle>
                    <div class="mb-3">
                        <InputTextArea class="form-control" @bind-Value="dDetail.Notes"></InputTextArea>
                        <TabValidationMessage For="(() => dDetail.Notes)"></TabValidationMessage>
                    </div>
                </CardBody>
            </Card>

            <div class="mb-3 row">
                <div class="col-lg-6">
                    <label class="form-label">Valid From Time</label>
                    <Input type="time" class="form-control" @bind-Value="dDetail.ValidFrom"></Input>
                    <TabValidationMessage For="(() => dDetail.ValidFrom)"></TabValidationMessage>
                </div>
                <div class="col-lg-6">
                    <label class="form-label">Valid To Time</label>
                    <Input type="time" class="form-control" @bind-Value="dDetail.ValidTo"></Input>
                    <TabValidationMessage For="(() => dDetail.ValidTo)"></TabValidationMessage>
                </div>
            </div>

            <Card Size="CardSize.Default">
                <CardBody>
                    <CardTitle>Statistics</CardTitle>
                    <div class="d-flex justify-content-between">
                        <span>Date: <strong>Unknown</strong></span>
                        <span>Firmware version: <strong>Unknown</strong></span>
                    </div>
                </CardBody>
            </Card>
        </Tab>

        @* ============================= READERS ============================= *@
        <Tab Title="Readers">
            <Card Size="CardSize.Default">
                <CardBody>
                    <CardTitle>Reader A</CardTitle>
                    <div class="mb-3 row">
                        <div class="col-lg-6">
                            <label class="form-label">Description</label>
                            <InputText class="form-control" @bind-Value="dDetail.ReaderA_Name"></InputText>
                            <TabValidationMessage For="(() => dDetail.ReaderA_Name)"></TabValidationMessage>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Technology</label>
                            <InputSelect class="form-select" @bind-Value="dDetail.ReaderA_TechId">
                                @foreach (var t in ReaderTechnologies)
                                {
                                    <option value="@t.Key">@t.Value</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-lg-6 ">
                            <label class="form-label">Volume</label>
                            <span class="d-flex my-auto gap-2">
                                <Icon IconType="@TablerIcons.Volume" />
                                <RangeSlider TValue="byte" @bind-Value="dDetail.ReaderA_Volume" Min="0" Max="15"  />
                                <label class="form-label">   @dDetail.ReaderA_Volume</label>
                            </span>
                            <TabValidationMessage For="(() => dDetail.ReaderA_Volume)"></TabValidationMessage>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Brightness</label>
                            <span class="d-flex my-auto gap-2">
                                <Icon IconType="@TablerIcons.Brightness_up" />
                                <RangeSlider TValue="byte" @bind-Value="dDetail.ReaderA_Brightness" Min="0" Max="9" />
                                <label class="form-label">   @dDetail.ReaderA_Brightness</label>
                            </span>
                            <TabValidationMessage For="(() => dDetail.ReaderA_Brightness)"></TabValidationMessage>
                        </div>
                    </div>
                </CardBody>
            </Card>
            <Card Size="CardSize.Default">
                <CardBody>
                    <CardTitle>Reader B</CardTitle>
                    <div class="mb-3 row">
                        <div class="col-lg-6">
                            <label class="form-label">Description</label>
                            <InputText class="form-control" @bind-Value="dDetail.ReaderB_Name"></InputText>
                            <TabValidationMessage For="(() => dDetail.ReaderB_Name)"></TabValidationMessage>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Technology</label>
                            <InputSelect class="form-select" @bind-Value="dDetail.ReaderB_TechId">
                                @foreach (var t in ReaderTechnologies)
                                {
                                    <option value="@t.Key">@t.Value</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-lg-6 ">
                            <label class="form-label">Volume</label>
                            <span class="d-flex my-auto gap-2">
                                <Icon IconType="@TablerIcons.Volume" />
                                <RangeSlider TValue="byte" @bind-Value="dDetail.ReaderB_Volume" Min="0" Max="15" />
                                <label class="form-label">   @dDetail.ReaderB_Volume</label>
                            </span>
                            <TabValidationMessage For="(() => dDetail.ReaderB_Volume)"></TabValidationMessage>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Brightness</label>
                            <span class="d-flex my-auto gap-2">
                                <Icon IconType="@TablerIcons.Brightness_up" />
                                <RangeSlider TValue="byte" @bind-Value="dDetail.ReaderB_Brightness" Min="0" Max="9" />
                                <label class="form-label">   @dDetail.ReaderB_Brightness</label>
                            </span>
                            <TabValidationMessage For="(() => dDetail.ReaderB_Brightness)"></TabValidationMessage>
                        </div>
                    </div>
                </CardBody>
            </Card>
            <Card Size="CardSize.Default">
                <CardBody>
                    <CardTitle>Keypad</CardTitle>
                    <div class="mb-3 row">
                        <div class="col-lg-6">
                            <label class="form-label">Text Description</label>
                            <InputText class="form-control" @bind-Value="dDetail.Keypad_Name"></InputText>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Technology</label>
                            <InputSelect class="form-select" @bind-Value="dDetail.Keypad_TechId">
                                @foreach (var t in KeypadTechnologies)
                                {
                                    <option value="@t.Key">@t.Value</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="mb-3 row align-items-end">
                        <div class="col-lg-6">
                            <label class="form-label">Access Code</label>
                            <InputNumber class="form-control" @bind-Value="dDetail.Keypad_AccessCode"></InputNumber>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-check">
                                <InputCheckbox class="form-check-input" @bind-Value="dDetail.Keypad_StarModeEnable"></InputCheckbox>
                                <span class="form-check-label">Enable * Key</span>
                            </label>
                        </div>
                    </div>
                </CardBody>
            </Card>
            <Card Size="CardSize.Default">
                <CardBody>
                    <CardTitle>Multi Factor Authentication</CardTitle>
                    <div class="mb-3 row">
                        <div class="col-lg-4">
                            <label class="form-label">ID Sequence Reader A</label>
                            <input type="number" class="form-control" @bind="dDetail.ReaderA_MFA_Sequence" />
                        </div>
                        <div class="col-lg-4">
                            <label class="form-label">ID Sequence Reader B</label>
                            <input type="number" class="form-control" @bind="dDetail.ReaderB_MFA_Sequence" />
                        </div>
                        <div class="col-lg-4">
                            <label class="form-label">Override Time zone</label>
                            <InputSelect class="form-select" @bind-Value="dDetail.MFA_OverrideTimeZone">
                                <option value=""></option>
                            </InputSelect>
                            <small class="text-muted">(Single factor during this time)</small>
                        </div>
                    </div>
                </CardBody>
            </Card>
        </Tab>

        @* ============================= OUTPUTS ============================= *@
        <Tab Title="Outputs">
            <Card Size="CardSize.Default">
                <CardBody>
                    <CardTitle>Lock</CardTitle>
                    <div class="mb-3 row">
                        <div class="col-lg-6">
                            <label class="form-label">Delay release by (seconds)</label>
                            <input type="number" class="form-control" @bind="dDetail.RelayA_Delay" />
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Drive Mode</label>
                            <InputSelect class="form-select" @bind-Value="dDetail.LockDriveMode">
                                @foreach (var t in DriveModes)
                                {
                                    <option value="@t.Key">@t.Value</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-lg-6">
                            <label class="form-label">Release for (seconds)</label>
                            <input type="number" class="form-control" @bind="dDetail.RelayA_Time" />
                        </div>
                    </div>
                    <div class="mb-3 row align-items-center">
                        <div class="col-lg-4">
                            <label class="form-check">
                                <InputCheckbox class="form-check-input" @bind-Value="dDetail.RelayA_TZOverideEnable"></InputCheckbox>
                                <span class="form-check-label">Open during time zone</span>
                            </label>
                        </div>
                        <div class="col-lg-5">
                            <InputSelect class="form-select" @bind-Value="dDetail.RelayA_OpenTimeZone">
                                <option value=""></option>
                            </InputSelect>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-check">
                            <InputCheckbox class="form-check-input" @bind-Value="dDetail.AutoRelockEnable"></InputCheckbox>
                            <span class="form-check-label">Auto-relock</span>
                        </label>
                    </div>
                </CardBody>
            </Card>

            <Card Size="CardSize.Default">
                <CardBody>
                    <CardTitle>Relay B</CardTitle>
                    <div class="mb-3 row">
                        <div class="col-lg-6">
                            <label class="form-label">Mode</label>
                            <InputSelect class="form-select" @bind-Value="dDetail.RelayB_Mode">
                                @foreach (var t in RelayBModes)
                                {
                                    <option value="@t.Key">@t.Value</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Release relay for (seconds)</label>
                            <input type="number" class="form-control" @bind="dDetail.RelayB_Time" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-lg-6">
                            <label class="form-label">Time zone</label>
                            <InputSelect class="form-select" @bind-Value="dDetail.RelayB_TimeZone">
                                <option value=""></option>
                            </InputSelect>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Delay between relay A &amp; B (x 10ms)</label>
                            <input type="number" class="form-control" @bind="dDetail.RelayB_Delay" />
                        </div>
                    </div>
                </CardBody>
            </Card>

            <Card Size="CardSize.Default">
                <CardBody>
                    <CardTitle>Failed to Close Door</CardTitle>
                    <div class="mb-3 row align-items-center">
                        <div class="col-lg-7">
                            <label class="form-check">
                                <InputCheckbox class="form-check-input" @bind-Value="dDetail.PDO_AlarmEnable"></InputCheckbox>
                                <span class="form-check-label">Sound an alarm if the door is open for</span>
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <span class="d-flex align-items-center gap-2">
                                <input type="number" class="form-control" @bind="dDetail.PDO_Alarm_Time" />
                                <span>seconds</span>
                            </span>
                        </div>
                    </div>
                </CardBody>
            </Card>
        </Tab>

        @* ============================= STATUS ============================= *@
        <Tab Title="Status">
            @* The whole Alert box is the status indicator for each relay; its colour
               reflects the relay state (static placeholder until live status is wired). *@
            <div class="row">
                <div class="col-lg-6">
                    <Alert BackgroundColor="relayAStatus">
                        @* Title on its own row, buttons stacked on the next row. *@
                        <div>
                            <div class="alert-title mb-2">Relay A</div>
                            <div class="d-flex flex-wrap gap-2">
                                <button type="button" class="btn btn-outline-secondary">Open</button>
                                <button type="button" class="btn btn-outline-secondary">Close</button>
                                <button type="button" class="btn btn-outline-secondary">Release</button>
                            </div>
                        </div>
                    </Alert>
                </div>
                <div class="col-lg-6">
                    <Alert BackgroundColor="relayBStatus">
                        <div>
                            <div class="alert-title mb-2">Relay B</div>
                            <div class="d-flex flex-wrap gap-2">
                                <button type="button" class="btn btn-outline-secondary">Open</button>
                                <button type="button" class="btn btn-outline-secondary">Close</button>
                            </div>
                        </div>
                    </Alert>
                </div>
            </div>

            <Card Size="CardSize.Default">
                <CardBody>
                    <CardTitle>Status</CardTitle>
                    @* gx-5 widens the gutter so the left column's indicator isn't crowding the right column's label. *@
                    <div class="row gx-5">
                        <div class="col-lg-6 d-flex align-items-center justify-content-between mb-2">
                            <span>Door Monitor</span>
                            <Status BackgroundColor="TablerColor.Blue" DotType="StatusDotType.Normal">Unknown</Status>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center justify-content-between mb-2">
                            <span>Request to Exit</span>
                            <Status BackgroundColor="TablerColor.Blue" DotType="StatusDotType.Normal">Unknown</Status>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center justify-content-between mb-2">
                            <span>Interlock Input</span>
                            <Status BackgroundColor="TablerColor.Blue" DotType="StatusDotType.Normal">Unknown</Status>
                        </div>
                    </div>
                </CardBody>
            </Card>

            <Card Size="CardSize.Default">
                <CardBody>
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <CardTitle class="mb-0">Alarms</CardTitle>
                        <button type="button" class="btn btn-outline-secondary">Reset</button>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-6 d-flex align-items-center justify-content-between mb-2">
                            <span>Door Forced</span>
                            <Status BackgroundColor="TablerColor.Blue" DotType="StatusDotType.Normal">Unknown</Status>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center justify-content-between mb-2">
                            <span>Duress</span>
                            <Status BackgroundColor="TablerColor.Blue" DotType="StatusDotType.Normal">Unknown</Status>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center justify-content-between mb-2">
                            <span>Hacker</span>
                            <Status BackgroundColor="TablerColor.Blue" DotType="StatusDotType.Normal">Unknown</Status>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center justify-content-between mb-2">
                            <span>Fire</span>
                            <Status BackgroundColor="TablerColor.Blue" DotType="StatusDotType.Normal">Unknown</Status>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center justify-content-between mb-2">
                            <span>Intruder</span>
                            <Status BackgroundColor="TablerColor.Blue" DotType="StatusDotType.Normal">Unknown</Status>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center justify-content-between mb-2">
                            <span>Door Failed to Close</span>
                            <Status BackgroundColor="TablerColor.Blue" DotType="StatusDotType.Normal">Unknown</Status>
                        </div>
                    </div>
                </CardBody>
            </Card>
        </Tab>

        @* ============================= CONTROLLER ============================= *@
        <Tab Title="Controller">
            <Card Size="CardSize.Default">
                <CardBody>
                    <CardTitle>Controller Administration</CardTitle>
                    <div class="mb-3">
                        <button type="button" class="btn btn-outline-secondary w-100">Clear Cards</button>
                        <small class="text-muted d-block text-center fst-italic">[All card information will be deleted from the controller]</small>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-outline-secondary w-100">Clear Events</button>
                        <small class="text-muted d-block text-center fst-italic">[All event information will be deleted from the controller]</small>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-outline-secondary w-100">Clear Time Zones, Calendars and Access Levels</button>
                        <small class="text-muted d-block text-center fst-italic">[All time zone and access level information will be deleted from the controller]</small>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-outline-secondary w-100">Set Date and Time</button>
                        <small class="text-muted d-block text-center fst-italic">[The date and time will automatically be corrected if 5 seconds different to the server time]</small>
                    </div>
                </CardBody>
            </Card>

            <Card Size="CardSize.Default">
                <CardBody>
                    <CardTitle>Biometric</CardTitle>
                    <div class="mb-3 row align-items-center">
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-outline-secondary w-100">Clear Biometric data</button>
                        </div>
                        @* Target label + dropdown inline, aligned to the right of the row. *@
                        <div class="col-lg-6 d-flex align-items-center justify-content-end gap-2">
                            <label class="form-label mb-0">Target</label>
                            <InputSelect class="form-select" style="width: auto;" @bind-Value="biometricTarget">
                                <option value="Reader A">Reader A</option>
                                <option value="Reader B">Reader B</option>
                            </InputSelect>
                        </div>
                    </div>
                    <small class="text-muted d-block fst-italic mb-3">[All Biometric Templates and Aliases will be deleted from the controller]</small>
                    <div class="mb-3 row">
                        <div class="col-lg-3">
                            <button type="button" class="btn btn-outline-secondary w-100">Cancel</button>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-outline-secondary w-100">Send Biometric data</button>
                        </div>
                    </div>
                    <small class="text-muted d-block fst-italic">[Send all biometric templates to this controller]</small>
                </CardBody>
            </Card>
        </Tab>
    </Tabs>

<br />
@if (dDetail.LastUpdated != default)
{
    <label>Last Updated: @dDetail.LastUpdated </label>
}
<Button class="float-end" BackgroundColor="TablerColor.Primary" Type="ButtonType.Submit" Text="Submit"></Button>
</TablerForm>

@code {

    [Inject] TabBlazor.Services.TablerService TablerService { get; set; } = null!;
    [Inject] TabBlazor.Services.IModalService ModalService { get; set; } = null!;
    [Inject] IHttpClientFactory ClientFactory { get; set; } = null!;

    public DoorDetailDto dDetail { get; set; } = new DoorDetailDto();
    [Parameter] public int DoorId { get; set; }
    // The site a new door is created under (passed from the per-site Doors page; 0 = none).
    [Parameter] public int SiteId { get; set; }
    [CascadingParameter] public bool CascadingParameter { get; set; } = false;

    // ---- Local backing field for UI-only controls (not persisted) ----
    private string biometricTarget = "Reader A";

    // Relay status colours drive the Alert boxes on the Status tab. Static placeholders
    // (matching the previous static-red indicator) until live controller status is wired up.
    private TablerColor relayAStatus = TablerColor.Danger;
    private TablerColor relayBStatus = TablerColor.Danger;

    // ---- Dropdown option sources ----
    private readonly Dictionary<byte, string> ReaderTechnologies = new()
    {
        { 0, "Crystal Reader" },
        { 1, "Prox Reader" },
        { 2, "Smart Reader" },
    };
    private readonly Dictionary<byte, string> KeypadTechnologies = new()
    {
        { 0, "Normal Keypad" },
        { 1, "Secure Keypad" },
    };
    private readonly Dictionary<byte, string> DriveModes = new()
    {
        { 0, "Relay" },
        { 1, "Magnet" },
        { 2, "Solenoid" },
    };
    private readonly Dictionary<byte, string> RelayBModes = new()
    {
        { 0, "Follow relay A" },
        { 1, "Independent" },
        { 2, "Time zone" },
    };

    protected override async Task OnInitializedAsync()
    {
        if (DoorId != 0){
            var client = ClientFactory.CreateClient("WebAPI");
            var result = await client.GetFromJsonAsync<DoorDetailDto?>("api/Door/" + DoorId);
            if(result is not null)
            {
                dDetail = result;
            }
        }
        else if (SiteId > 0)
        {
            // New door: pin it to the site its "Add Door" button was launched under.
            dDetail.Site = SiteId;
        }
    }

    private void Cancel()
    {
        ModalService.Close(ModalResult.Cancel());
    }

    private async Task Submit(EditContext obj)
    {
        if (DoorId == 0)
        {
            var client = ClientFactory.CreateClient("WebAPI");
            var result = await client.PostAsJsonAsync<DoorDetailDto>("api/Door/", dDetail);
            if (result.IsSuccessStatusCode) ModalService.Close(ModalResult.Ok());
            else
            {
                await ModalService.ShowDialogAsync(new TabBlazor.Components.Modals.DialogOptions
                {
                    MainText = result.StatusCode.ToString(),
                    SubText = await result.Content.ReadAsStringAsync(),
                    IconType = TablerIcons.Alert_triangle,
                    CancelText = "",
                    StatusColor = TablerColor.Danger
                });
            }
        }
        else
        {
            var client = ClientFactory.CreateClient("WebAPI");
            var result = await client.PutAsJsonAsync<DoorDetailDto>("api/Door/" + dDetail.Door, dDetail);
            if (result.IsSuccessStatusCode) ModalService.Close(ModalResult.Ok());
            else
            {
                await ModalService.ShowDialogAsync(new TabBlazor.Components.Modals.DialogOptions
                {
                    MainText = result.StatusCode.ToString(),
                    SubText = await result.Content.ReadAsStringAsync(),
                    IconType = TablerIcons.Alert_triangle,
                    CancelText = "",
                    StatusColor = TablerColor.Danger
                });
            }
        }
    }

}
