@page "/userspasswords"
@using DoorsWeb.Shared.Entities
@inject IHttpClientFactory ClientFactory


<Card>
    <CardHeader>
        <CardTitle>
            <Icon class="icon me-2" IconType="@TablerIcons.User_star" />Users and Passwords
        </CardTitle>
    </CardHeader>
    <CardBody>
        @if (!IsLoaded)
        {
            <Progress Color="TablerColor.Blue" Indeterminate />
        }
        else
        {
            <Table Item="TUsers" Items="userList" PageSize="10" AddItemFactory="AddItem"
                   OnItemAdded="OnItemAdd" OnItemEdited="OnItemEdit" OnItemDeleted="OnItemDelete"
                   Hover Responsive EditMode=TableEditMode.Inline>
                <ChildContent>
                    <Column Item="TUsers" Property="e => e.Code" Title="User Id" Width="50px" Sortable Visible="false">
                        <EditorTemplate>
                            @(context.Code == 0 ? context.Code : "")
                            <InputNumber class="form-control" @bind-value="@context.Code" Hidden />
                        </EditorTemplate>
                    </Column>
                    <Column Item="TUsers" Property="e => e.Description" Title="Name" Searchable Sortable>
                        <EditorTemplate>
                            <InputText class="form-control" @bind-value="@context.Description" DisplayName="name" />
                        </EditorTemplate>
                    </Column>
                    <Column Item="TUsers" Property="e => e.Password" Title="Pass">
                        <Template>
                            ●●●●●●●●
                        </Template>
                        <EditorTemplate>
                            <div class="input-group input-group-flat">
                                <Input type="@(showRowPwd ? "text" : "password")" class="form-control" @bind-value="@context.Password" DisplayName="password" />
                                <span class="input-group-text">
                                    <a href="#" class="link-secondary" tabindex="-1" title="Show password"
                                       @onclick="() => showRowPwd = !showRowPwd" @onclick:preventDefault="true">
                                        <Icon class="icon" IconType="@(showRowPwd ? TablerIcons.Eye_off : TablerIcons.Eye)" />
                                    </a>
                                </span>
                            </div>
                        </EditorTemplate>
                    </Column>
                    <Column Item="TUsers" Property="e => e.Administrator" Title="Admin" Width="50px" Sortable>
                        <Template>
                            @if (context.Administrator)
                            {
                                <Icon class="icon" IconType="@TablerIcons.Check" />
                            }
                            else
                            {
                                <Icon class="icon" IconType="@TablerIcons.X" />
                            }
                        </Template>
                        <EditorTemplate>
                            <Checkbox @bind-value="@context.Administrator" />
                        </EditorTemplate>
                    </Column>
                </ChildContent>
            </Table>
            @if (userList.Count == 0)
            {
                <div class="text-muted text-center py-4">No users found.</div>
            }
        }
    </CardBody>
</Card>



@code {
    [Inject] TabBlazor.Services.TablerService TablerService { get; set; } = null!;
    [Inject] TabBlazor.Services.IModalService ModalService { get; set; } = null!;

    private bool IsLoaded = false;
    private HttpClient client = new HttpClient();
    private List<TUsers> userList = new List<TUsers>();
    private bool showRowPwd;   // toggles the inline password editor between masked/clear

    protected override async Task OnInitializedAsync()
    {
        client = ClientFactory.CreateClient("WebAPI");
        userList = await client.GetFromJsonAsync<List<TUsers>>("api/Users") ?? [];
        IsLoaded = true;
    }

    private Task<TUsers> AddItem()
    {
        // this function feeds default value
        return Task.FromResult(new TUsers { Code = 0, Description = "user", Password = "pass", Administrator = false });
    }

    private async Task OnItemAdd(TUsers user)
    {
        var result = await client.PostAsJsonAsync<TUsers>("api/Users/", user);
        if (result.IsSuccessStatusCode) await UpdateList();
        else {
            userList.Remove(user);
            await ShowErrorDialog(result);
        }
    }

    private async Task OnItemEdit(TUsers user)
    {
        var result = await client.PutAsJsonAsync<TUsers>("api/Users/" + user.Code, user);
        if (!result.IsSuccessStatusCode) await ShowErrorDialog(result);
    }

    private async Task OnItemDelete(TUsers user)
    {
        userList = await client.DeleteFromJsonAsync<List<TUsers>>("api/Users/" + user.Code) ?? [];
    }

    private async Task UpdateList()
    {
        userList = await client.GetFromJsonAsync<List<TUsers>>("api/Users") ?? [];
    }

    private async Task ShowErrorDialog(HttpResponseMessage result)
    {
        ClientProblemDetails errjson;
        try
        {
            errjson = await result.Content.ReadFromJsonAsync<ClientProblemDetails>() ??
                new ClientProblemDetails { Status = 500, Title = "Error Returned Null!", Detail = "An unexpected error occurred." };
        }
        catch
        {
            errjson = new ClientProblemDetails { Status = 500, Title = "Unable to Read Error!", Detail = "Failed to read error response." };
        }
        if (errjson.Status == 500) errjson.Detail = "traceId: " + errjson.TraceId;
        await ModalService.ShowDialogAsync(new TabBlazor.Components.Modals.DialogOptions
        {
            MainText = errjson.Status + " " + errjson.Title,
            SubText = errjson.Detail,
            IconType = TablerIcons.Alert_triangle,
            CancelText = "",
            StatusColor = TablerColor.Danger
        });
    }
}
