@using System.Reflection
@using DoorsWeb.Client.Auth
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject JwtAuthStateProvider AuthStateProvider

<Navbar Direction=NavbarDirection.Vertical Background=NavbarBackground.Dark>

    <a href="https://github.com/joadan/Blazor-Tabler" class="navbar-brand navbar-brand-autodark">
        <img src="img/TabBlazorLogoWhite.png" alt="Tabler" class="navbar-brand-image me-2">
        <div class="m-0 text-muted">
            <h2 class="m-0">TabBlazor</h2>
            <div class="fs-6 lh-1">@AppVersion</div>
        </div>
    </a>

    <NavbarMenu>
        <AuthorizeView>
            <Authorized>
                <NavbarMenuItem Href="" Text="Dashboard">
                    <MenuItemIcon>
                        <Icon class="icon" IconType="@TablerIcons.Dashboard" />
                    </MenuItemIcon>
                </NavbarMenuItem>
                <NavbarMenuItem Href="events" Text="Events">
                    <MenuItemIcon>
                        <Icon class="icon" IconType="@TablerIcons.Bolt" />
                    </MenuItemIcon>
                </NavbarMenuItem>
                <NavbarMenuItem Href="users" Text="Users">
                    <MenuItemIcon>
                        <Icon class="icon" IconType="@TablerIcons.Users" />
                    </MenuItemIcon>
                </NavbarMenuItem>
                <NavbarMenuItem Href="accesslevels" Text="Access Levels">
                    <MenuItemIcon>
                        <Icon class="icon" IconType="@TablerIcons.Key" />
                    </MenuItemIcon>
                </NavbarMenuItem>
                <NavbarMenuItem Href="timezone" Text="Time Zones">
                    <MenuItemIcon>
                        <Icon class="icon" IconType="@TablerIcons.Clock" />
                    </MenuItemIcon>
                </NavbarMenuItem>
                <NavbarMenuItem Href="calendar" Text="Calendars">
                    <MenuItemIcon>
                        <Icon class="icon" IconType="@TablerIcons.Calendar_clock" />
                    </MenuItemIcon>
                </NavbarMenuItem>
                <NavbarMenuItem Href="doors" Text="Doors">
                    <MenuItemIcon>
                        <Icon class="icon" IconType="@TablerIcons.Door" />
                    </MenuItemIcon>
                </NavbarMenuItem>
                <NavbarMenuItem Href="admins" Text="Admins">
                    <MenuItemIcon>
                        <Icon class="icon" IconType="@TablerIcons.User_star" />
                    </MenuItemIcon>
                </NavbarMenuItem>
                <li class="nav-item">
                    <a class="nav-link" href="#" @onclick="Logout" @onclick:preventDefault>
                        <span class="nav-link-icon">
                            <Icon class="icon" IconType="@TablerIcons.Logout" />
                        </span>
                        <span class="nav-link-title">Logout</span>
                    </a>
                </li>
            </Authorized>
            <NotAuthorized>
                <NavbarMenuItem Href="login" Text="Sign in">
                    <MenuItemIcon>
                        <Icon class="icon" IconType="@TablerIcons.Login" />
                    </MenuItemIcon>
                </NavbarMenuItem>
            </NotAuthorized>
        </AuthorizeView>
    </NavbarMenu>
</Navbar>

@code {
    private string AppVersion = Assembly.GetExecutingAssembly().GetName().Version?.ToString() ?? "1.0.0.0";

    private async Task Logout()
    {
        await JS.InvokeVoidAsync("localStorage.removeItem", "access_token");
        await JS.InvokeVoidAsync("localStorage.removeItem", "refresh_token");
        AuthStateProvider.NotifyAuthStateChanged();
        Navigation.NavigateTo("/login");
    }
}
